
/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

div.node-webform span.submitted {
  display: none;
}

#sidebar-first .block {
  background-color: #ddd;
  border-radius: 10px;
}

#sidebar-first .block .gutter {
  padding: 1em 0;
}

#help {
  margin-left: 10px;
  border-radius: 10px;
  width: 710px;
  margin-bottom: 1.5em;
}

.vertical-tabs ul.vertical-tabs-list {
  position: static;
}

#site-name {
  display: none;
}

#slogan {
  display: none;
}
